:root {
    --sidebar-color: rgb(27, 126, 202);
    --header-color: ghostwhite;
    --main-color: rgb(219, 226, 237);
}
body {
    box-sizing: border-box;
}

.container {
    height: 98vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
}

.sidebar {
    background: var(--sidebar-color);
    
    grid-area: sidebar;
}

.header {
    background: var(--header-color);
    grid-area: header;
}

.main {
    background: var(--main-color);
    grid-area: main;
}